.posts {
	padding: 0 0 40px 40px;

	&__top-line {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.add,
.remove,
.edit,
.add-likes,
.remove-likes {
	display: inline-block;
	cursor: pointer;
}

.add-likes {
	font-weight: 700;
}

.icons-box {
	position: relative;
	display: flex;
	margin-left: 20px;
}

.posts-box {
	display: flex;
}

.posts-list {
	color: #000;
	list-style: none;
	padding: 0;
	font-size: 16px;
	font-weight: normal;

	h4 {
		margin: 0 10px 0 0;

	}

	p {
		display: inline-block;
		margin: 0;
	}

	li {
		position: relative;
		background-color: white;
		padding: 10px;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 5px;

		.post-body {
			margin-left: 20px;
			font-style: italic;
		}
	}
}